#APP_ID=?????	 	 	# GET YOUR OWN API/Client id, uncomment this and fill it (see HOW_TO_START.txt)
SKIP_AUTH_TOKEN =  False     	# Do not authenticate using AUTH TOKEN
INVISIBLE_MODE = -1		# -1 - allow to full authorize if hidden
#MACHINE = True

TOKEN_JEAPIE = ""		# personal token for jeapie.com service
TOKEN_PUSHBULLET = ''		# personal access token for pushbullet service (https://www.pushbullet.com/#settings/account)
WATCHERS_PY= './vk_watchers_list.py'		# PYTHON CODE WHiCH ACTUALLY DESCRIBE WATCHERS
                                     
#PYTHON_EXE = 'C:\MY\Python27\python.exe'			# usually detected automatically
#VK_DOWNLOADER = 'C:\MY\GITHUB\vk_downloader\vk_downloader.py'  # usually detected automatically


####################################3

DAYSBEFORE=700       	 # How deeply load history
IF_DELETE=None      	 # Delete messages: None - ask, False/True - delete or not

DOWNLOAD_MP3= False      # True = download mp3 in messages/wall
DOWNLOAD_MP3_ONCE= True	 # True - if mp3 was dloaded then remember and do not download even if it was deleted locally {REMEMBER_SKIP_MP3}
SKIP_EXISTED_FILE= True  # If img/media exists then do not update it

DOWNLOAD_VIDEO = True      # Store video for later download
VIDEO_MAX_SIZE = 500       # Maximum resolution to download


WALL_QUICKUPDATE = True      # If True update existed wall records only if like/comment count was changed            !!!TODO
LOAD_COMMENTS =    True      # Need to Download comments for wall
LOAD_LIKES =       False     # Need to Download likes for wall
DOWNLOAD_AS_HTML = True      # Download as plain text or as html
SEPARATE_TEXT =    'year'    # How to separate text of wall [None|day|month|year|id]
SEPARATE_MEDIA =   'month'   # How to separate media of wall [None|day|month|year|id]
WALL_DEDUPE =      False     # if True - check for existance (by preview) of same post and exclude(comment out) it
WALL_HIDE_ONLY_IMAGE = False # if True - comment out messages with no body and only images

CONSOLE_SIZE =     '130:45'  # minimum height/width of console in symbols


# Debug options:
WRITE_MSGID=       False      # True = for debug purpose (write to file msgid), False = otherwise
SHOW_SKIPED_MEDIA= False      # True = display names of media files which was skiped


